{{- with $.Site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header" style="display: flex;">
        {{- if .imageUrl}}<img src="{{ .imageUrl}}" style="border-radius: 50%; border: 3px #000 solid; display: inline;" alt="{{ .imageTitle | default "profile image" }}"
        height="{{- .imageHeight | default 150 -}}" width="{{- .imageWidth | default 150 -}}" />{{- end}}
        <h1 style="margin-left: 2rem; align-self: center">{{- .Title | markdownify }}</h1>
    </header>
    <div class="entry-content">
        {{- .Content | markdownify }}
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
</article>
{{- end}}
